@font-face {
  font-family: 'sell-icon';
  src:  url('fonts/sell-icon.eot?a413uu');
  src:  url('fonts/sell-icon.eot?a413uu#iefix') format('embedded-opentype'),
    url('fonts/sell-icon.ttf?a413uu') format('truetype'),
    url('fonts/sell-icon.woff?a413uu') format('woff'),
    url('fonts/sell-icon.svg?a413uu#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-point-down:before {
  content: "\ea05";
}
.icon-point-left:before {
  content: "\ea06";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-android:before {
  content: "\eac0";
}
.icon-edge:before {
  content: "\eadc";
}
.icon-IcoMoon:before {
  content: "\eaea";
}
